.custom-dropzone {
    margin: 0px 10px;
    width: fit-content !important;
    padding: 10px 15px !important;
    height: unset !important;
    border-radius: 5px;
    font-size: 20px;
}

.product-imgs {
    padding: 0px 8px !important;
}
