<footer>
    <div class="m-0 p-0 flex">
        <div class="mr-3 copy-right">&copy; {{year}} E-commerce On</div>
        <div class="social">
            <ul class="nav m-0 p-0">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-twitter"></i></a>
                </li>
                <li class="nav-item mr-0">
                    <a class="nav-link" href="#"><i class="pi pi-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>